<!-- // Basic Horizontal form layout section start -->
<div class="row d-flex justify-content-center">

    <div class="col-md-6 col-12">
        <div class="card">
            <div class="card-content">
                <div class="card-body">

                    <%= form_with(model: customer, local: true) do |form| %>
                        <% if customer.errors.any? %>
                            <div id="error_explanation">
                                <h2><%= pluralize(customer.errors.count, "error" ) %> prohibited this customer from being saved:</h2>

                                <ul>
                                    <% customer.errors.full_messages.each do |message| %>
                                        <li> <%= message %> </li>
                                        <% end %>
                                </ul>
                            </div>
                            <% end %>
                                <div class="form-body">
                                    <div class="row">

                                                                                <div class="col-12">
                                            <div class="form-group row">
                                                <div class="col-md-4"><span> Name </span>
                                                </div>
                                                <div class="col-md-8">
                                                    <div class="position-relative has-icon-left">
                                                        <%= form.text_field :name, class: 'form-control' %>
                                                            <div class="form-control-position">
                                                                <i class="feather icon-user"></i>
                                                            </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                                                                <div class="col-12">
                                            <div class="form-group row">
                                                <div class="col-md-4"><span> Phone Number </span>
                                                </div>
                                                <div class="col-md-8">
                                                    <div class="position-relative has-icon-left">
                                                        <%= form.text_field :phone_number, class: 'form-control' %>
                                                            <div class="form-control-position">
                                                                <i class="feather icon-user"></i>
                                                            </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                                                                <div class="col-12">
                                            <div class="form-group row">
                                                <div class="col-md-4"><span> National </span>
                                                </div>
                                                <div class="col-md-8">
                                                    <div class="position-relative has-icon-left">
                                                        <%= form.text_field :national_id, class: 'form-control' %>
                                                            <div class="form-control-position">
                                                                <i class="feather icon-user"></i>
                                                            </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        
                                        <div class="col-md-8 offset-md-4">
                                            <button type="submit" class="btn btn-primary mr-1 mb-1">Submit</button>
                                            <button type="reset"
                                                class="btn btn-outline-warning mr-1 mb-1">Reset</button>
                                        </div>
                                    </div>
                                </div>
                                <% end %>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- // Basic Horizontal form layout section end -->