<% content_for :customers do %>
active
<% end %>

        <!-- information start -->
        <div class="row d-flex justify-content-center">
            <div class="col-md-7 col-12 ">
                <div class="card">
                    <div class="card-header">
                        <div class="card-title mb-2">About
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="card-text">

                                                        <dl class="row">
                                <dt class="col-sm-3 text-right">Name:</dt>
                                <dd class="col-sm-9"> <%= @customer.name %></dd>
                            </dl>
                                                        <dl class="row">
                                <dt class="col-sm-3 text-right">Phone number:</dt>
                                <dd class="col-sm-9"> <%= @customer.phone_number %></dd>
                            </dl>
                                                        <dl class="row">
                                <dt class="col-sm-3 text-right">National:</dt>
                                <dd class="col-sm-9"> <%= @customer.national_id %></dd>
                            </dl>
                                                    </div>
                        <div class="flex items-center justify-start mt-6">
                            <%= link_to 'Edit' , edit_customer_path(@customer), class: "btn btn-default mr-4" %>
                            <%= link_to 'Back' , customers_path, class: "btn btn-default" %>
                        </div>
                    </div>
                </div>
            </div>
        </div>